@import "_responsive.scss";
@import '_header.scss';
@import '_aboutPeak.scss';
@import '_contact.scss';
@import '_panda.scss';
@import '_product.scss';
@import '_furniture.scss';
@import '_login.scss';



//section 1 start....................
#section-1{
    padding: 30px 0px; 
    margin: 0%;
    width: 100%;
    background-color: #F7F2ED;

    .sect-1-left{
        height: 100%;
        padding:0px 10px;
        width: 100%;
        margin: 0%;
        display: flex;
        align-items: center;
        h1{
            font-size: 40px;
            font-family: cursive;
            font-weight: 500;
            color: #3e516a;
            margin-bottom: 20px;
        }
        p{
            color: #847b75;
            font-size: 18px;
            font-family: cursive;
            margin-bottom: 40px;
        }

        button{
            background-color: #A73B26; 
            font-family: cursive;
            border: none;
            font-weight: bolder;
            color: #fff;
            font-size: 13px;
            height: 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 8mm;
            width: 150px;
        }

    }

    .sect-1-right{
        width: 100%;
        height: 100%;
        img{
            height: 100%;
            width: 100%;
        }
    }
}
//section 1 finish........................

// section-2 start
#section-2{
    width: 100%;
    padding: 10px 0px;
    .sect-2-box{
        text-align: center;
        cursor: pointer;

        a{
            text-decoration: none;
            color: black;
            font-family: cursive;
            font-weight: bold;
            font-size: 13px;
            transition: 0.5s ease-in-out;
        }
        span{
            color: gray;
            font-size: 10px;
        }

        &:hover{
            a{
                color: #A73B26;
            }
            img{
                transform: scale(1);
            }
        }

        img{
            transition: 0.5s ease-in-out;
            transform: scale(0.9);
        }
    }
}
// ection-2 finish

//sect-3 start>>>>>
#section-3{
    padding: 50px;
    background-color: #f5e1cd;

    .sect-3-head{
        h1{
            text-align: center;
            color:#847B75 ;
            font-family: cursive;
        }
    }
    .sect-3-box{
        // background-color: green;

        &:hover{
            cursor: pointer;
            .sect-3-img{
                .sect-3-icon1{
                    transform: translateX(0px);
                }
                .sect-3-icon2{
                    transform: translateX(0px);
                }
            }

            .slider-1-btn{
                .slider-1-span1{
                    transform: translateY(-35px);
                }
                .slider-1-span2{
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .slider-1-a1{
            color: #A73B26;
            text-decoration: none;
            font-family: cursive;
            font-size: 10px;
            transition: 0.3s ease-in-out;
            &:hover{
                color: black;
            }
        }
        .slider-1-a2{
            color: #3E516A;
            display: inline-block;
            margin-bottom: 5px;
            text-decoration: none;
            font-family: cursive;
            transition: 0.3s ease-in-out;
            font-size: 16px;
            &:hover{
                color:#A73B26 ;
            }
        }

        .slider-1-btn{
            border: none;
            width: 100px;
            position: relative;
            overflow: hidden;
            background-color: transparent;

               
   
            .slider-1-span1{
                position: absolute;
                // background-color: red;
                font-size: 13px;
                font-weight: bold;
                transition: 0.3s ease-in-out;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: #3E516A;

            }
            .slider-1-span2{
                position: absolute;
                color: #A73B26;
                font-weight: bolder;
                font-family: cursive;
                font-size: 13px;
                transition: 0.3s ease-in-out;
                left: 0%;
                // top: 0;
                transform: translateY(150%);
            }


        }

        .sect-3-img{
            width: 100%;
            height: 100%;
            position: relative;
            // border: 4px solid black;
            overflow: hidden;
            &:hover{
                .sect-3-img2{
                    opacity: 1;
                    visibility: visible;
                }
            }
            .sect-3-img1{
                width: 100%;
                // border: 1px solid red;
                height: 100%;
            }
            .sect-3-img2{
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                transition: 0.3s ease-in-out;
                top: 0%;
                left: 0;
            }

            .sect-3-icon1{
                position: absolute;
                right: 20px;
                transform: translateX(65px);
                background-color: #fff;
                width: 30px;
                height: 30px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                top: 20px;
                transition: 0.3s ease-in-out;
    
    
                &:hover{
                    cursor: pointer;
                    background-color: #A73B26;
                    color: #fff;
    
                }
            }
    
            .sect-3-icon2{
                position: absolute;
                right: 20px;
                transform: translateX(65px);
                background-color: #fff;
                width: 30px;
                height: 30px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                top: 70px;
                transition: 0.3s ease-in-out;
                transition-delay: 0.1s;
    
    
                &:hover{
                    cursor: pointer;
                    background-color: #A73B26;
                    color: #fff;
    
                }
            }
            

        }

        
       
    }

}
//sect-3 finish>>>>>>>

//section-4 start>>>>>>>>>>>>>
#section-4{
    padding: 50px;


    .sect-4-head{
        h1{
            text-align: center;
            color:#847B75 ;
            font-family: cursive;
            margin-bottom: 50px;
        }
    }

    .sect-4-left{
        width: 100%;
        height: 50vh;
        padding: 70px;
        background-image: url(https://peakshops.fuelthemes.net/peakshops-furniture/wp-content/uploads/sites/2/2020/02/bv1-768x647.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        
        h1{
            color: #4B5D74;
            font-family: cursive;
        }
        
        p{
            color: black;
        }

        button{
            background-color: #A73B26; 
            font-family: cursive;
            border: none;
            font-weight: bolder;
            color: #fff;
            font-size: 13px;
            height: 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 8mm;
            width: 150px;
        }
    }

    .sect-4-right{
        background-image:url(https://peakshops.fuelthemes.net/peakshops-furniture/wp-content/uploads/sites/2/2020/02/bv2-768x647.jpg) !important ;
    }
}
//section-4 finish>>>>>>>>>>>>>

//section-5 start>>>>>>>>>>>>>>>>>>>>>>>>>>
#section-5{
    padding: 50px;

    .sect-5-head{
        h1{
            text-align: center;
            color:#847B75 ;
            font-family: cursive;
            margin-bottom: 50px;
        }
    }

    .sect-5-box{
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.13);
        padding: 0px 20px 20px 20px;
        img{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 60%;
        }
        p{
            font-family: cursive;
            font-weight: bold;

        }
    }
}
//section-5 finish>>>>>>>>>>>>>>>>>>>>>>>>>

//section-6 start>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#section-6{
    padding: 20px;
    .sect-6-box{
        background-image: url(https://peakshops.fuelthemes.net/peakshops-furniture/wp-content/uploads/sites/2/2020/03/f05.jpg?id=683);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        
        .sect-6-right{
            padding: 40% 20px;
            height: 60vh;
            width: 100%;
            text-align: center;

            h3{
                text-align: center;
                color: #fff;
                font-size: 20px;
                margin-bottom: 30px;
            }
            input{
                width: 50%;
                height: 45px;
                padding-left: 20px;
                border-radius: 5px;
                border: none;
                outline: none;
                margin-bottom: 20px;
            }
            button{
                width: 20%;
                font-size: 10px;
                font-weight: bold;
                font-family: cursive;
                margin-bottom: 5px;
                border-radius: 5px;
                color: #fff;
                margin-left: 5px;
                height: 45px;
                outline: none;
                border: none;
                transition: 0.3s ease-in-out;
                background-color: #ce492e;

                &:hover{
                    background-color: #A73B26;
                }

            }

            span{
                font-family: cursive;
                font-weight: bold;
                color: #fff;
                font-size: 12px;
            }
        }
    }
}
//section-6 finish>>>>>>>>>>>>>>>>>>>>>>>>>>

//section-7 start>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#section-7{
    padding: 70px;
    .sect-7-head{
        h1{
            text-align: center;
            color:#847B75 ;
            font-family: cursive;
            margin-bottom: 50px;
        }
    }
    .img-box{
        img{
            width: 100%;
            height: 100%;
        }
    }

    .text-box{
        padding: 20px;
        text-align: center;
        a{
            text-decoration: none;
            font-weight: bold;
            color: #3D516B;
            display: inline-block;
            transition: 0.3s ease-in-out;
            margin-bottom: 10px;
            &:hoveR{
                color: #A73B26;
            }
        }

        .sect-7-a2{
            color: #A73B26;
            display: inline-flex;
            align-items: center;
            font-weight: bold;
            font-size: 16px;
            i{
                transition: 0.3s ease-in-out;
                margin-left: 5px;
            }
            &:hover{
                i{
                    margin-left: 10px;
                }
            }
        }
    }


}
//section-7 finish>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

//footer start>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#footer{
 padding: 50px; 
 background-color: #F7F2ED;
 .fouter-head{
    padding: 0 30px;
    .fouter-box{
        display: flex;
        justify-content: space-around;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        p{
            color: #3D516B;
            font-size: 15px;
            font-weight: bold;
            font-family: cursive;
        }
        span{
            color: #98908A;
            font-weight: bold;
            font-family: cursive;
            font-size: 13px;
        }
    }
 } 
 .footer-mid{
    padding: 30px;
    ul{
        li{
            a{
                font-weight:500 ;
                font-family: cursive;
                transition: 0.3s ease-in-out;
                text-decoration: none;
                font-size: 13px;
                color: #847B75;
                &:hover{
                    color: #A73B26;
                }
            }
        }
        H6{
            color: #3e516a;
            font-size: 15px;
            font-weight: bold;
            font-family: cursive;
        }
    }
    .footer-sub{
        h6{
            color: #3e516a;
            font-size: 15px;
            font-weight: bold;
            font-family: cursive;
            margin-bottom: 20px;
        }
        span{
            margin-bottom: 20px;
            display: inline-block;
            strong{
                color: #A73B26;
            }
        }
        input{
            width: 65%;
            height: 45px;
            padding-left: 20px;
            border-radius: 5px;
            border: none;
            outline: none;
            margin-bottom: 30px;
        }
        button{
            width: 30%;
            font-size: 10px;
            font-weight: bold;
            font-family: cursive;
            margin-bottom: 5px;
            border-radius: 5px;
            color: #fff;
            margin-left: 5px;
            height: 45px;
            outline: none;
            border: none;
            transition: 0.3s ease-in-out;
            background-color: #ce492e;

            &:hover{
                background-color: #A73B26;
            }

        }
        i{
            cursor: pointer;
            font-size: 20px;
            margin-left: 10px;
            transition: 0.3s ease-in-out;
            &:hover{
                color: #00ACED;
            }
        }
    }
 }

 .footer-bottom{
    padding-top: 30px;
    img{
        width: 80%;
    }
    .foot-bot-right{
        span{
            font-size: 13px;
            strong{
                margin-left: 20px;
            }
        }
        a{
            text-decoration: none;
            color: #847B75;
            transition: 0.3s ease-in-out;

            &:hover{
                color: #A73B26;
            }
        }
    }
 }
}
//footer finish>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


